MYSQL_ROOT_PASSWORD=pass_root
MYSQL_DATABASE=ventas_andrew
MYSQL_USER=andrew
MYSQL_PASSWORD=pass_andrew

API_PORT=8443
JWT_SECRET=CHANGE_ME_SUPER_SECRET
DATABASE_URL="mysql://root:@localhost:3306/ventasdb"
JWT_ACCESS_SECRET=superaccesssecret
JWT_REFRESH_SECRET=superrefreshsecret



DB_HOST=mysql_db
DB_PORT=3306
DB_NAME=ventas
DB_USER=ventas_user
DB_PASSWORD=CHANGEME_USER

